
        <footer>
            <div class="row">
                <div class="col col-2">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#shop">Shop</a></li>
                        <li><a href="#locations">Locations</a></li>
                        <li><a href="#wholesale">Wholesale</a></li>
                        <li>
                            <span>🆒</span>
                            <span>🆚</span>
                        </li>
                    </ul>
                </div>
                <div class="col col-2">
                    <h3>Come visit our shops</h3>
                    <ul>
                        <li>
                            <h3>123 Block St, Testeroony</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <li>
                            <h3>123 Block St, Testeroony</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <h3>123 Block St, Testeroony</h3>
                        <p>Monday - Friday: 7am to 4pm</p>
                        <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <li>
                            <h3>123 Block St, Testeroony</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                    </ul>
                </div>
                <div class="col col-2">
                    <img src="/images/blue-logo.png" alt="" height="200px">
                </div>
                <div class="col col-2">
                    <h3>Contact</h3>
                    <ul>
                        <li>
                            <p>M-F 9AM-5PM ET</p>
                        </li>
                        <li>
                            <p>P: 718-782-0332</p>
                        </li>
                        <li><a href="/donations">Donation orders</a></li>
                        <li><a href="#employment">Employment</a></li>
                        <li> <a href="#contact">Contact form</a></li>
                    </ul>
                </div>
                <div class="col col-4">
                    <h3>Email signup</h3>
                    <form action="/submit" method="POST">
                        <input type="text" id="name" name="name" placeholder="Name">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <input type="text" id="number" name="number" placeholder="Number">

                        <button type="submit">Subscribe</a>
                    </form>
                </div>
                <div class="container">
                    <p>&copy; 2025, Petrus Johannes Maas Portfolio</p>
                </div>
            </div>
        </footer>