
        <footer>
            <div class="row">
                <div class="col col-2">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="#product-hero">Shop</a></li>
                        <li><a href="#about-hero">About</a></li>
                        <li><a href="#locations-hero">Locations</a></li>
                        <li><a href="#footer-hero">Contact</a></li>
                        <li>
                            <span>🆒</span>
                            <span>🆚</span>
                        </li>
                    </ul>
                </div>
                <div class="col col-2">
                    <h3>Come visit our shops</h3>
                    <ul>
                        <li>
                            <h3>244 W. 57th St. Newville</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <li>
                            <h3>632 East 9th. The East Village</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <h3>123 Block St, Testeroony</h3>
                        <p>Monday - Friday: 7am to 4pm</p>
                        <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                        <li>
                            <h3>123 Block St, Testeroony</h3>
                            <p>Monday - Friday: 7am to 4pm</p>
                            <p>Saturday - Sunday: 8am to 5pm</p>
                        </li>
                    </ul>
                </div>
                <div class="col col-2">
                    <img src="/images/green-logo.png" alt="" height="200px">
                </div>
                <div class="col col-2">
                    <h3>Contact</h3>
                    <ul>
                        <li>
                            <p>M-F 9AM-5PM ET</p>
                        </li>
                        <li>
                            <p>P: 718-782-0332</p>
                        </li>
                        <li><a href="pjmaasdev.work/#donations">Donations</a></li>
                        <li><a href="pjmaasdev.work/#employment">Employment</a></li>
                        <li> <a href="pjmaasdev.work/">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col col-4">
                    <h3>Contact request</h3>
                    <form action="/submit" method="POST">
                        <input type="text" id="name" name="name" placeholder="Name">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <input type="text" id="number" name="number" placeholder="Number">

                        <button type="submit">SEND</a>
                    </form>
                </div>
                <div class="container">
                    <p>&copy; 2025, Petrus Johannes Maas Portfolio</p>
                </div>
            </div>
        </footer>