<header class="navbar">
    <div id="alert-message" class="navbar-alert">
        <span id="alert-text">Loading alert...</span>
    </div>

    <div class="row">
        <div class="col col-4 navbar-logo">
            <img src="/images/logo.png" alt="Logo" />
        </div>
        <div class="col col-4"></div>
        <nav class="col col-4 navbar-links">
            <a href="/about">About</a>
            <a href="/shop">Shop</a>
            <a href="/locations">Locations</a>
            <a href="/wholesale">Wholesale</a>
        </nav>
    </div>
    <div>
        <h1>
            <%= pageHeading %>
        </h1>
    </div>
    <a href="#shop" class="button">Shop coffee</a>
    <a href="#locations" class="button">Visit us</a>
</header>