<header class="navbar" style="background-image: url('<%= bgImage %>');">
    <div class="announcement-container">
        <div class="row">
            <div class="col col-4"></div>
            <div class="col col-4 center">
                <p id="alert-text">Loading alert...</p>
            </div>
            <div class="col col-4 right">
                <button>
                    <p id="pause">⏸️</p>
                    <p id="play" style="display: none;">▶️</p>
                </button>
            </div>
        </div>

        <p></p>
    </div>
    <section class="nav-level">
        <div class="row">
            <div class="col col-6">
                <a href="/"><img src="/images/light-logo.png" alt="" width="250px"></a>
            </div>
            <div class="col col-6 nav-links" style="text-align: right;">
                <p class="contact-details">
                    <span>🁪: M-F 9AM-5PM SAT</span>
                    <span>✆: 012-753-0441</span>
                </p>
                <br>
                <p>
                    <a href="#product-hero">SHOP</a>
                    <a href="#about-hero">ABOUT</a>
                    <a href="#locations-hero">LOCATIONS</a>
                    <a href="#footer-hero">CONTACT</a>
                </p>
            </div>
        </div>
        <div class="sticker">
            <h1>
                <%= pageHeading %>
            </h1>
            <h1>Community driven. Always fresh.</h1>
            <div style="margin: 25px 0;">
                <a href="#loyalty-hero" class="button">GET DISCOUNT</a>
                <a href="#locations-hero" class="button">VISIT US</a>
            </div>
        </div>

    </section>
</header>