<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | Coffee Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
                <div class="row">
                    <div class="col col-6">
                            <h2>About Cafe Roasted Coffee</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque tempora in natus
                                blanditiis
                                porro odio, sequi tempore mollitia accusamus perspiciatis laudantium officia asperiores
                                beatae?
                                Aliquam, qui. Consequuntur eum ab laudantium non, dolores ullam quisquam reiciendis
                                libero
                                laborum id, nemo cumque at voluptas veritatis similique atque alias expedita, et ratione
                                dicta?
                            </p>
                            <br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum nobis veritatis
                                accusantium
                                possimus voluptatem aliquid magnam voluptatum repudiandae temporibus? Veritatis,
                                adipisci vel!
                                Dolores, perferendis eaque.
                            </p>
                            <img src="/images/scooter.png" style="max-width: 100%;" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, porro, non magni
                                laudantium totam ea aperiam autem quam esse sed recusandae rem, sit blanditiis vero.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptas cumque ipsa!
                                Consequuntur numquam vitae eaque corporis atque asperiores optio ratione voluptate
                                impedit, error nostrum animi. Corporis eius quos fugit recusandae aperiam. Aspernatur,
                                eaque dicta?</p>
                    </div>
                    <div class="col col-6">
                        <img src="/images/welkom.png" alt="">
                    </div>
                </div>
        </main>
        <%- include('partials/footer') %>
            <script src="script.js"></script>
</body>

</html>