<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | Coffee Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
            <section id="product-hero">
                <!-- First row -->
                <div class="row">
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/forge-blend.png" alt="Coffee bag">
                            <h4>Forge Espresso</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/sundial-blend.png" alt="Coffee bag">
                            <h4>Sundial House Blend</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/midnight-blend.png" alt="Coffee bag">
                            <h4>Midnight Dark Roast</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                </div>
                <!-- Second row -->
                <div class="row">
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/ember-blend.png" alt="Coffee bag">
                            <h4>Ember Medium Roast</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/special-blend.png" alt="Coffee bag">
                            <h4>Pony Boy Special</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/gift-card.png" alt="Coffee bag">
                            <h4>Gift card</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <a class="button green-button" href="#footer-hero">REQUEST DELIVERY</a>
                    </div>
                </div>
                </div>
            </section>
            <section id="about-hero">
                <div class="row">
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="left">
                                <h2>About us</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis qui natus
                                    temporibus
                                    reiciendis, ut, similique necessitatibus odit aperiam accusamus ex quae asperiores
                                    consequuntur eligendi deserunt!</p>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias vitae, tenetur
                                    necessitatibus optio ad obcaecati reiciendis doloremque dolore quibusdam eaque fugit
                                    enim,
                                    et ex culpa mollitia suscipit reprehenderit, repellat autem consequatur ullam atque
                                    tempora
                                    accusamus? Facilis obcaecati laudantium aperiam aliquam, quaerat ab vitae deleniti
                                    debitis
                                    quam blanditiis sint labore esse!</p>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, modi voluptates quidem
                                    perferendis accusamus aliquid sequi alias eos fuga vero odit quia quo, quas odio
                                    possimus molestiae corrupti ex officia. Sed accusantium ea porro nobis.</p>

                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo numquam
                                    beatae
                                    odit quia. Necessitatibus hic aut qui itaque quasi culpa, assumenda voluptates eius
                                    facilis?</p>
                                <br>
                                <h5>Person's name</h5>
                                <h5>Signature</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container right">
                            <img src="/images/donations.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section id="loyalty-hero">
                <div class="qr-section centered">
                    <h2>Get Your Coffee QR Code</h2>
                    <form action="/generate" method="POST">
                        <input type="text" name="firstName" placeholder="First Name" required>
                        <input type="text" name="lastName" placeholder="Last Name" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <button type="submit">Generate QR Code</button>
                    </form>

                    <% if (qrCode) { %>
                        <div class="qr-output">
                            <h3>Your QR Code:</h3>
                            <img src="<%= qrCode %>" alt="QR Code">
                        </div>
                        <% } %>
                </div>
            </section>
            <section class="is-pinned" id="locations-hero">
                <div class="centered">

                    <h2>Come visit us</h2>
                </div>
                <div class="row">
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-4.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-1.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card parent">
                                <div class="card-body">
                                    <img class="my-img" src="/images/location-3.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-2.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Modal Container -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h2>Modal Title</h2>
                    <p>This is a simple modal window.</p>
                </div>
            </div>
            </section>
            <section id="footer-hero">
                <div class="row" style="padding: 100px 0;">
                    <div class="container">
                        <h2>📹 @joescoffee</h2>
                    </div>
                </div>
        </main>
        <%- include('partials/footer') %>
            <script src="script.js"></script>
</body>

</html>