<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> | Coffee Shop</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
            <section class="product-section">
                <div class="row is-large">
                    <div class="col col-sm-12 col-md-4 col-4">
                        <img src="/images/bag.png" alt="Coffee bag">
                        <h4>Blend 1</h4>
                        <h5>$123.00</h5>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <img src="/images/bag.png" alt="Coffee bag">
                        <h4>Blend 2</h4>
                        <h5>$123.00</h5>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <img src="/images/bag.png" alt="Coffee bag">
                        <h4>Blend 3</h4>
                        <h5>$123.00</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <a class="button" href="#shop">SHOP COFFEE</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="about-hero">
                    <h2>Get Cafe coffee, on your doorstep, at your leisure.</h2>
                    <a class="button">LEARN MORE</a>
                </div>
            </section>
            <section>
                <h2>Come visit us</h2>
                <div class="row">
                    <div class="col col-sm-12 col-6">
                        <img src="/coffee-shop/images/location.png" alt="Location">
                        <div style="background-color: #007BFF">
                            <h3>422 E. 75th St.</h3>
                            <h3>Yorkville</h3>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="card">
                            <img src="/coffee-shop/images/location.png" alt="Location">
                            <div style="background-color: #007BFF">
                                <h3>422 E. 75th St.</h3>
                                <h3>Yorkville</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <img src="/coffee-shop/images/location.png" alt="Location">
                        <div style="background-color: #007BFF">
                            <h3>422 E. 75th St.</h3>
                            <h3>Yorkville</h3>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <img src="/coffee-shop/images/location.png" alt="Location">
                        <div style="background-color: #007BFF">
                            <h3>422 E. 75th St.</h3>
                            <h3>Yorkville</h3>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row" style="padding: 100px 0;">
                    <div class="container">
                        <h2>📹 @cafecoffee</h2>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
        <script src="script.js"></script>
</body>

</html>