<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | Coffee Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
            <section class="product-hero is-pinned">
                <!-- First row -->
                <div class="row">
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/bag.png" alt="Coffee bag">
                            <h4>Blend 1</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/bag.png" alt="Coffee bag">
                            <h4>Blend 2</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/bag.png" alt="Coffee bag">
                            <h4>Blend 3</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                </div>
                <!-- Second row -->
                <div class="row">
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/bag.png" alt="Coffee bag">
                            <h4>Blend 4</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-4 col-4">
                        <div class="container product">
                            <img src="/images/special-blend.png" alt="Coffee bag">
                            <h4>Special Blend</h4>
                            <h5>$123.00</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <a class="button green-button" href="#shop">SHOP COFFEE</a>
                    </div>
                </div>
                </div>
            </section>
            <section class="is-pinned about-hero">
                <h1>About us</h1>
                <div class="row">
                    <div class="col col-6">
                        <h3>Heading</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis qui natus temporibus
                            reiciendis, ut, similique necessitatibus odit aperiam accusamus ex quae asperiores
                            consequuntur eligendi deserunt!</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias vitae, tenetur
                            necessitatibus optio ad obcaecati reiciendis doloremque dolore quibusdam eaque fugit enim,
                            et ex culpa mollitia suscipit reprehenderit, repellat autem consequatur ullam atque tempora
                            accusamus? Facilis obcaecati laudantium aperiam aliquam, quaerat ab vitae deleniti debitis
                            quam blanditiis sint labore esse!</p>
                        <h5>Person's name</h5>
                        <h5>Signature</h5>
                    </div>
                    <div class="col col-6">
                        <div class="container centered">
                            <img src="/images/donations.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="is-pinned subscribe-hero">
                <div class="centered">
                    <h2>Get Cafe coffee, on your doorstep, at your leisure.</h2>
                    <a class="button">LEARN MORE</a>
                </div>
            </section>
            <section class="is-pinned">
                <div class="centered">

                    <h2>Come visit us</h2>
                </div>
                <div class="row">
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-4.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-1.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card parent">
                                <div class="card-body">
                                    <img class="my-img" src="/images/location-3.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/images/location-2.png" alt="Location">
                                </div>
                                <div class="card-footer centered" style="background-color: #2F5249;">
                                    <h3>412 W. 74th St.</h3>
                                    <h3>Borroughville</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row" style="padding: 100px 0;">
                    <div class="container">
                        <h2>📹 @cafecoffee</h2>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
            <script src="script.js"></script>
</body>

</html>