<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | Coffee Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
            <section>
                <h2>Come visit us</h2>
                <div class="row">
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <img src="/images/location.png" alt="Location">
                            <div style="background-color: #007BFF">
                                <h3>422 E. 75th St.</h3>
                                <h3>Yorkville</h3>
                            </div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, sint reprehenderit
                                nesciunt eius quas quidem impedit saepe vel ipsa modi ut sit velit ipsam libero!\</p>
                            <br>
                            <p>
                            <h4>Hours:</h4>
                            <ul>
                                <li>Monday - Friday: 7am to 4pm</li>
                                <li>Saturday - Sunday: 8am to 5pm</li>
                            </ul>
                            <a href="" class="button">GET DIRECTIONS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <img src="/images/location.png" alt="Location">
                            <div style="background-color: #007BFF">
                                <h3>422 E. 75th St.</h3>
                                <h3>Yorkville</h3>
                            </div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, sint reprehenderit
                                nesciunt eius quas quidem impedit saepe vel ipsa modi ut sit velit ipsam libero!\</p>
                            <br>
                            <p>
                            <h4>Hours:</h4>
                            <ul>
                                <li>Monday - Friday: 7am to 4pm</li>
                                <li>Saturday - Sunday: 8am to 5pm</li>
                            </ul>
                            <a href="" class="button">GET DIRECTIONS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <img src="/images/location.png" alt="Location">
                            <div style="background-color: #007BFF">
                                <h3>422 E. 75th St.</h3>
                                <h3>Yorkville</h3>
                            </div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, sint reprehenderit
                                nesciunt eius quas quidem impedit saepe vel ipsa modi ut sit velit ipsam libero!\</p>
                            <br>
                            <p>
                            <h4>Hours:</h4>
                            <ul>
                                <li>Monday - Friday: 7am to 4pm</li>
                                <li>Saturday - Sunday: 8am to 5pm</li>
                            </ul>
                            <a href="" class="button">GET DIRECTIONS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-6">
                        <div class="container">
                            <img src="/images/location.png" alt="Location">
                            <div style="background-color: #007BFF">
                                <h3>422 E. 75th St.</h3>
                                <h3>Yorkville</h3>
                            </div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, sint reprehenderit
                                nesciunt eius quas quidem impedit saepe vel ipsa modi ut sit velit ipsam libero!\</p>
                            <br>
                            <p>
                            <h4>Hours:</h4>
                            <ul>
                                <li>Monday - Friday: 7am to 4pm</li>
                                <li>Saturday - Sunday: 8am to 5pm</li>
                            </ul>
                            <a href="" class="button">GET DIRECTIONS</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
            <script src="script.js"></script>
</body>

</html>