<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | Coffee Shop
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/layout.css">
</head>

<body>
    <%- include('partials/navbar', { pageHeading }) %>
        <main>
            <section>
                <div class="row">
                    <div class="col col-6 centered">
                        <div class="container">
                            <h2>Wholesale order</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem porro eos quidem, at
                                sapiente cupiditate odio placeat debitis officia laboriosam corrupti deleniti optio illo
                                veniam blanditiis consequuntur ab sit soluta praesentium id neque. Sunt, harum.</p>
                            <a href="">Contact our team</a>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="container">
                            <img src="/images/wholesale.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col col-12 centered" style="background-color: azure;">
                        <h2>Get Cafe coffee, on your doorstep, at your leisure.</h2>
                        <a class="button">LEARN MORE</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col col-6">
                        <div class="container">
                            <img src="/images/donations.png" alt="">
                        </div>
                    </div>
                    <div class="col col-6 centered">
                        <div class="container">
                            <h2>Donation order</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem porro eos quidem, at
                                sapiente cupiditate odio placeat debitis officia laboriosam corrupti deleniti optio
                                illo
                                veniam blanditiis consequuntur ab sit soluta praesentium id neque. Sunt, harum.</p>
                            <a href="">Donate</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section>
                <div class="row" style="padding: 100px 0;">
                    <div class="container">
                        <h2>📹 @cafecoffee</h2>
                    </div>
                </div>
            </section> -->
        </main>
        <%- include('partials/footer') %>
            <script src="script.js"></script>
</body>

</html>