* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: lighter;
}


.card {
  /* max-width: fit-content; */
  /* margin: 45px; */
  border: 1px solid #4a3322;
  border-radius: 0.375em;
  color: #fff;
}

.card-footer {
  padding: 25px 0;
  font-size: larger;
}

.card-body img {
  display: block;      /* Removes inline extra space */
  width: 100%;         /* Fill container horizontally */
  height: auto;        /* Keep aspect ratio */
  border-top-left-radius: 0.375em; /* Match card corners */
  border-top-right-radius: 0.375em;
}

.card-body {
  text-align: center;
}

.product img {
  display: block;      /* Removes inline extra space */
  width: 100%;         /* Fill container horizontally */
  height: auto;        /* Keep aspect ratio */
}

.product {
  text-align: center;
}

.centered {
  text-align: center; 
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}
form label, 
form input, 
form button {
  margin-bottom: 10px;
  padding: 15px;
}

section {
  padding: 33.75px 0 33.75px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 10px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  /* padding: 0 20px; */
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

/* Small devices (phones) */
@media (max-width: 600px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }
}

/* Large devices (desktops) */
@media (min-width: 1025px) {
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-6 {
    width: 50%;
  }
}