h1 {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

h3 {
  font-weight: 400;
}

.nav-level {
  padding-bottom: 50px;
}

.nav-links a {
  font-size: 1.3em;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.contact-details span {
  color: #fff;
  margin: 0px 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.navbar-alert {
  padding: 1.1rem 1rem;
  background-color: #2F5249;
  color: #fff;
  font-weight: bold;
}

#alert-text {
  transition: opacity 0.5s ease;
  display: inline-block;
}

.navbar {
  /* background-image: url("/images/home-banner.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.box {
  border:1px solid #fff;
  border-radius: 1px;
}

.sticker {
  background-color: rgb(0, 0, 0, 0.2);
  max-width: fit-content;
  margin: 25px;
  padding: 9px 1px;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* background-color: #6b4f3b; */
  border: 2px solid #fff;
  border-radius: 0.375em;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

/* Buttons */
.green-button {
  margin-top: 50px ;
  color: #2F5249;
  border: 2px solid #2F5249;
}

.button:hover,
.button:focus {
  background-color: #2F5249;
  /* transform: translateY(-2px); */
  border: 2px solid #2F5249;
  color: #fff;
}

.button:active {
  background-color: #4a3322;
  transform: translateY(0);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
}

.about-hero {
  padding: 150px 0px;
  background-image: url("/images/graffiti.png");
  background-size: cover;
  /* margin: auto; */
  color: #fff;
}

footer {
  padding: 50px;
}